################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Monez/bin/Debug/netcoreapp2.0
/Monez/obj
/Shared/obj
/Shared/bin/Debug/netcoreapp2.0
